# Pastas de Build e Dependências
build/
.conan2/

# Arquivos temporários do CMake e Compiladores
CMakeFiles/
CMakeCache.txt
CMakeUserPresets.json
*.cmake
*.a
*.o
*.so

# Configurações de IDEs (VSCode, CLion, Neovim)
.vscode/
.idea/
.clangd/
compile_commands.json
.clang-format

# Sistema Operacional
.DS_Store
thumbs.db

# Binários soltos na raiz
/teste_dijkstra
